# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Secretos
.env

# Configuración Local
app_config.json
zones.json
events_config.json

# Datos y Logs
telemetry_logs/
*.log
*.pt
app_debug.log
crash_log.txt
startup_error.log
kernel.errors.txt
event_logs.txt
cumulative_stats.json
datasets/
models/*
!models/metadata.json

# IDEs
.vscode/
.idea/
